<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="/public/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/w3.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  </head>
  <style>
body {font-family: "Roboto", sans-serif}
.w3-bar-block .w3-bar-item{padding:16px;font-weight:bold}
</style>
<body>
<div class="w3-bar w3-border w3-green w3-xlarge w3-top">
    <a href="/" class="w3-bar-item w3-button" style="width:20%">KANCIO CHAT</a>
    <input type="text" class="w3-bar-item w3-input" style="width:55%" placeholder="Cari..">
    <a href="#" class="w3-bar-item w3-button w3-green" style="width:8%">Cari</a>
    <div class="w3-dropdown-click w3-right">
      <button class="w3-button" onclick="w3_open()">
        Menu lain <i class="fa fa-caret-down"></i>
      </button>
    </div>
</div>

<!-- konten -->
<div class="w3-container" style="margin-top:5%; margin-bottom:10%">
  <!-- Sidebar kanan-->
  <div class="w3-container w3-sidebar w3-bar-block w3-card-2" style="width:18%;right:0;">
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Keluar &times;</button>
      <a href="#" class="w3-bar-item w3-button">Akun saya</a>
      <a href="#" class="w3-bar-item w3-button">Buat Grup</a>
      <a href="logout" class="w3-bar-item w3-button">Keluar</a>
    </div>
    <div class="w3-top w3-green" style="margin-top:5%; margin-bottom:10%">
      <h1>batas</h1>
    </div>
    <div class="w3-container" style="margin-top:5%; margin-bottom:10%">
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari</span>
            </li>
          </a>
        </ul>
        <ul class="w3-ul">
          <a href="#">
            <li class="w3-button w3-bar">
              <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
              <span class="w3-left">Jihar Al Gifari232</span>
            </li>
          </a>
        </ul>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifari</span>
          </li>
        </a>
      </ul>
      <ul class="w3-ul">
        <a href="#">
          <li class="w3-button w3-bar">
            <img src="public/image/logo3.png" class="w3-left w3-margin-right" style="width:25px">
            <span class="w3-left">Jihar Al Gifarsdsdsi</span>
          </li>
        </a>
      </ul>
    </div>
    <div class="w3-bottom w3-green">
      <h1>batas</h1>
    </div>
  </div>
  <!-- Sidebar kiri-->
  <div class="w3-sidebar w3-bar-block w3-card-2" style="width:20%;left:0; padding-top:10px;">
  <div class="w3-container">
    <div class="w3-card-4">
      <img src="/public/image/logo.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-center">
        <h3>JIHAR</h3>
      </div>
      <ul class="w3-ul w3-border">
        <li>Jill</li>
        <li>Eve</li>
        <li>Adam</li>
      </ul>
    </div>
  </div><hr>
  </div>

  <div style="margin-left:20%; width:63%">
  <div class="w3-container">
    <h2>Anda sedang chatting dengan fulan</h2>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16">
            <img src="/public/image/logo3.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
            <span class="w3-right">3.10 PM</span>
          </li>
        </ul><br>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16 w3-right-align">
              <img src="/public/image/logo3.png" class="w3-right w3-circle w3-margin-left" style="width:50px">
              <span class="w3-large">Jill</span><br>
              <span>Support</span>
              <span class="w3-left">3.10 PM</span>
          </li>
        </ul><br>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16">
            <img src="/public/image/logo3.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
            <span class="w3-right">3.10 PM</span>
          </li>
        </ul><br>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16 w3-right-align">
              <img src="/public/image/logo3.png" class="w3-right w3-circle w3-margin-left" style="width:50px">
              <span class="w3-large">Jill</span><br>
              <span>Support</span>
              <span class="w3-left">3.10 PM</span>
          </li>
        </ul>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16">
            <img src="/public/image/logo3.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
            <span class="w3-right">3.10 PM</span>
          </li>
        </ul><br>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16 w3-right-align">
              <img src="/public/image/logo3.png" class="w3-right w3-circle w3-margin-left" style="width:50px">
              <span class="w3-large">Jill</span><br>
              <span>Support</span>
              <span class="w3-left">3.10 PM</span>
          </li>
        </ul>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16">
            <img src="/public/image/logo3.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
            <span class="w3-right">3.10 PM</span>
          </li>
        </ul><br>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16 w3-right-align">
              <img src="/public/image/logo3.png" class="w3-right w3-circle w3-margin-left" style="width:50px">
              <span class="w3-large">Jill</span><br>
              <span>Support</span>
              <span class="w3-left">3.10 PM</span>
          </li>
        </ul>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16">
            <img src="/public/image/logo3.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
            <span class="w3-right">3.10 PM</span>
          </li>
        </ul><br>
        <ul class="w3-ul w3-card-4">
          <li class="w3-padding-16 w3-right-align">
              <img src="/public/image/logo3.png" class="w3-right w3-circle w3-margin-left" style="width:50px">
              <span class="w3-large">Jill</span><br>
              <span>Supportsdsd</span>
              <span class="w3-left">3.10 PM</span>
          </li>
        </ul>
  </div>
  </div>
</div>

<!-- Bottom -->
<div class="w3-container w3-bottom w3-green" style="margin-left:20%; width:62%">
  <!-- <form class="form-inline">
    <div class="input-group">
      <input type="text" class="w3-bar-item w3-input" style="width:80%;" size="50" placeholder="Ketik pesan..">
      <input type="file" class="w3-bar-item w3-input" style="width:8%;  margin-left:80%" name="" value="">
      <button type="button" class="w3-bar-item w3-button w3-green" style="width:8%;  margin-left:90%;">Kirim</button>
    </div>
  </form> -->
  <h1>JIhar</h1>
</div>


<script>
function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
  <!-- <script src="/public/js/main.js"></script> -->
  </body>
</html>
